.card {
   width: 100px;
   height: 200px;
}

.v-row {
   display: flex;
   padding: 10px;
   background-color: rgb(5, 255, 222);
   grid-gap: 8px;
}

.v-column{
   padding: 20px 0;
   flex: 1;
   background-color: rgb(28, 214, 189);
}